

@font-face {
    font-family: Roboto;
    src: url(Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-thin;
    src: url(Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(Roboto/Roboto-Light.ttf);
}

.brand:hover{

    text-decoration: none;

}

 .navbar-brand:hover {
 color: white;
  font-family: "Roboto";
 font-size : large;
}


* {
	    font-family: Roboto-Light;
}



#navigationBar {
 background-color: .white;
 color: black;
 border: none;
}


.brand:hover {
    color: black;
    font-style: none;
}

.brand {
 color: black;
 font-family: "Roboto";
 font-size : 2.3em;
 margin-right: 40px;
}


.brand:enable {
 color: black;
 font-size : large;
}

.brand:actived {
 color: black;
 font-size : large;
}


#pages > ul > li > a{
   font-size : large;
   color : black;
}

#pages > ul > li > a:hover{
   font-size : large;
   color : rgba(0, 0, 200, 0.3);;
}



#pages > ul > li > a {
  border-color:  black;
  border-width: 5px;
  margin-left: 7px;
}









